
$common-bg: #f5f5f5;
$common-border: #e8e8e8;
$common-font:#333;
$blur-primary :#00baff;

$border-common: #eee;

$blue-home-text:$blur-primary;
$gray-home-text:#a7afc1;
$base-bg:#f4f4f4;
$common-showHide-btn:$base-bg;
$app-theme-color:#27afff;

/*具体*/
$nav-bar-active :$blur-primary;

$tools-calculator-bf:#f4f4f4;
$tools-calculator-border:$border-common;
$tools-calculator-primary:#548cfd;
$tools-calculator-font-primary:#1b55db;
$tools-calculator-label:#333;
$tools-calculator-value:#666;
$tools-calculator-tips:#999;

$house-tag-color:#73a2f8;


$xiaoqu-detail-bg:$common-bg;
$xiaoqu-detail-border:$common-border;
$xiaoqu-detail-info-name:#333;
$xiaoqu-detail-common-font:$common-font;
$xiaoqu-detail-value-font:#333;
$xiaoqu-detail-desc-font:#999;
$xiaoqu-detail-showHide-btn:$common-showHide-btn;

$xiaoqu-house-price:#ff753f;
$xiaoqu-follow:#73a2f8;

$protocol-nav-bar-active: #73a2f8;


$sale-detail-border:$border-common;
$sale-detail-info-value:#ff753f;
$sale-detail-info-desc:#999;

$house-detail-common-font:$common-font;
$house-detail-link:#73a2f8;
$house-detail-showHide-btn:$common-showHide-btn;
$house-detail-border:$common-border;

$content-width: 1200px;
$font-blue: #00479d;